*{margin: 0;}

body {
  font-size: 14px;
  color:#000;
  background-color: #d1f0ed;
  font-family: 'Open Sans', sans-serif;
}

h1{font-size: 200%;
	font-family: 'Roboto', sans-serif;}

h3{font-size: 150%;
	font-weight: bold;}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  background-size: 100%;
  width: 150px;
  height: 85px;
  margin: -15px 5px 0px 0px;
}


#header-nav {text-align: center;
	background-color: #62B9BD;
	position: relative;
	border-radius: 0;
  	border: 0;}

 #introduction{}

.navbar-brand{padding-top: 0px;}

#nav-img{margin-top: 0px;
  	margin-bottom: 0px;
  	line-height: .75;
  	}

 #nav-title{color: #005206;
 	font-weight: bold;
 	font-family: 'Ubuntu', sans-serif;}

.active>a#Button{
	background-color: #38696B;
	color: #fff;}
a#Button{color: #005206;}

.single-element{margin: 10px 10px 10px;
	padding: 10px;
	background-color:  #E5FEFC;
	overflow: hidden;
	border-radius: 25px;
  text-align: justify;
	}

#cite-title{font-weight: bold;
	font-size: 90%}
#citation{font-size: 70%}

#contact{text-align: right;}
#contact-title{font-weight: bold;
	font-size: 80%}
#email{font-size: 70%}

.subtitle{font-size: 110%;
	font-weight: bold;}

.code-block{background-color: #B4B4B4;
	border: 1px solid #000;
	width: 80%;
	font-family: 'Courier Prime', monospace;
	font-size: 80%;
	margin: auto;
	word-break: normal;}

.note{font-size: 80%;
	font-family: 'Courier Prime', monospace;}

.img-footer{font-size: 80%;
  text-align: center;}


#motif-img{
  background: url('../images/motif_ex.png') no-repeat;
  background-size: 35%;
  width:100%;
  height: 400px;
  margin: auto;
  background-position: center;
}

#log-img{
  background: url('../images/log.PNG') no-repeat;
  background-size: 50%;
  width:100%;
  height: 300px;
  margin: 5px 5px 0px 0px;
  background-position: center;
}

#fig-img{
  background: url('../images/Final_Candidates_Fc.1_fig.png') no-repeat;
  background-size: 50%;
  width:100%;
  height: 400px;
  margin: 5px 5px 0px 0px;
  background-position: center;
}

#extract-img{
  background: url('../images/extract.png') no-repeat;
  background-size: 50%;
  width:100%;
  height: 400px;
  margin: 5px 5px 0px 0px;
}

.option-box{width: 80%;
	font-family: 'Courier Prime', monospace;
	font-size: 90%;
	background-color: #BAFBAE;
	border: 1px solid #668B5F;
	border-radius: 3px;
	margin: auto;
	text-align: justify;
	}

.options-title{font-size: 100%;
	font-weight: bold;
	text-align: center;
	margin: auto;}

.option-box#license-content{max-height: 500px;
  overflow-y: scroll;
}

@media(max-width: 768px){
#nav-title{font-size: 100%}

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #cite{text-align: center;}
  #contact{text-align: center;}
}
